// Primary
$BrightBlue: hsl(220, 98%, 61%);
$CheckBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// Dark
$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$DarkLightGrayishBlue: hsl(234, 39%, 85%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$DarkerGrayishBlue: hsl(233, 14%, 35%);
$VeryDarkGrayishBlue: hsl(237, 14%, 26%);
//hover
$LightGrayishBlueHover: hsl(236, 33%, 92%);

//Light
$VeryLightGray: hsl(0, 0%, 98%);
$VeryLightGrayishBlue: hsl(236, 33%, 92%);
$LightGrayishBlue: hsl(233, 11%, 84%);
$LightDarkGrayishBlue: hsl(236, 9%, 61%);
$LightVeryDarkGrayishBlue: hsl(235, 19%, 35%);
